<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBir1tfDPYc86lk51UsJRmiDvHUVzyKFjk</string>
	<key>GCM_SENDER_ID</key>
	<string>335445905028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.peralta.testiOSDeveloper</string>
	<key>PROJECT_ID</key>
	<string>testiospokeapi</string>
	<key>STORAGE_BUCKET</key>
	<string>testiospokeapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335445905028:ios:42557fbec8bff691e9bcd1</string>
</dict>
</plist>